.wrapper-3EGhDO {
    background-color: var(--background-secondary);
    border-radius: 25px;
    padding: 0px;
}

.colorable-1bkp8v.white-3GPOIp, .colorable-1bkp8v.white-3GPOIp .centerIcon-2G6o-T {
    color: currentColor;
}

.colorable-1bkp8v.primary-3NQg8g,
.colorable-1bkp8v.primary-3NQg8g.active-1QRrIS, .colorable-1bkp8v.primary-3NQg8g:hover, 
.colorable-1bkp8v.white-3GPOIp,
.centerButton-3CaNcJ,
.colorable-1bkp8v.white-3GPOIp.active-1QRrIS, .colorable-1bkp8v.white-3GPOIp:hover,
.colorable-1bkp8v.red-33-Lnk {
    background: none !important;
}

div[class="flex-1xMQg5 flex-1O1GKY horizontal-1ae9ci horizontal-2EEEnY flex-1O1GKY directionRow-3v3tfG justifyCenter-3D2jYp alignCenter-1dQNNs noWrap-3jynv6"][style="flex: 1 1 auto;"]{
  background-color: var(--background-secondary);
  border-radius: 30px;
}

.userPopout-3XzG_A {
    border-radius: 10px;
    box-shadow: var(--elevation-high);
    border: none;
    background: none;
    backdrop-filter: blur(10px);
}
.theme-dark .body-3iLsc4, .theme-dark .footer-1fjuF6 {
    background: #00000066;
}
.headerPlaying-j0WQBV {
    background: #7289daa8;
}
.headerStreaming-2FjmGz {
    background: #593695a8;
}
.theme-dark .headerNormal-T_seeN {
    background: #000000a8;
}
.headerSpotify-zpWxgT {
    background: #1db954a8;
}
.textarea-2r0oV8:focus {
    background: #0000008b;
    border-radius: 5px;
}
.input-cIJ7To {
    background: #00000044;
    border: none;
    border-radius: 5px;
    transition: ease-in-out 0.1s;
}
.input-cIJ7To:focus {
    background: #0000008b;
}
.buttonsWrapper-2eYbM0 .lookOutlined-3sRXeN.colorWhite-rEQuAQ {
    border: none;
    background: #1db954a8;
    border-radius: 5px;
}
.buttonsWrapper-2eYbM0 .lookOutlined-3sRXeN.colorWhite-rEQuAQ:hover {
    background: #1db954ff;
}
.customStatus-1bh2V9 img {
    border-radius: 3px;
}
.headerStreaming-2FjmGz .lookOutlined-3sRXeN.colorWhite-rEQuAQ {
    background: #593695a8;
}
.headerStreaming-2FjmGz .lookOutlined-3sRXeN.colorWhite-rEQuAQ:hover {
    background: #593695ff;
}
.headerPlaying-j0WQBV .lookOutlined-3sRXeN.colorWhite-rEQuAQ {
    background: #7289daa8;
}
.headerPlaying-j0WQBV .lookOutlined-3sRXeN.colorWhite-rEQuAQ:hover {
    background: #7289daff;
}

.backdrop-1wrmKB {
    background: none !important;
    backdrop-filter: blur(10px) brightness(0.5);
    opacity: 1 !important;
}

/* animation on channel list */


* {
/*    opacity:1;*/
    animation: mykey 0.5s forwards !important;
} 
@keyframes mykey{
    0% { opacity: 0 !important;}
    100% {
        opacity: inherit !important;
    }
}

/* */
div[id="message-actions"] {
  min-width: 0px;
  width: 57px;
  transition: 1s;
}
div[id="message-actions"]:hover {
  min-width: 0px;
  width: 200px;
  transition: 0.5s;
}

.protip-YaFfgO {
    display: none;
}

/* .titleChecked-2wg0pd{
    visibility: hidden;
}
.titleChecked-2wg0pd::before {
  visibility: visible;
    content: "I live on the edge";
} */

/* user popout - credit to : https://github.com/A-User-s-Discord-Themes/Couve*/
/*role pills*/
.role-2irmRk{
    position: relative;
    overflow: hidden;
    z-index: 1;
    border: none;
    padding: 5px;
}
.roleCircle-3xAZ1j::before{
    content: "";
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    background: inherit;
    opacity: .2;
    z-index: -1;
    pointer-events: none;
}
/*Bottom*/
.footer-1fjuF6{
    border-top: none;
}

:root .headerStreaming-2FjmGz{
    background: #593695;
}

.emojiItemDisabled-1FvFuF:hover{
    filter: grayscale(0);
}

.userPopout-3XzG_A{
  width: 450px;
}

.none-2Eo-qx::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.none-2Eo-qx::-webkit-scrollbar-corner {
  background-color: transparent;
}

.none-2Eo-qx::-webkit-scrollbar-thumb {
  background-clip: padding-box;
  border: 2px solid transparent;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.1);
}

.none-2Eo-qx::-webkit-scrollbar-track {
  border-color: transparent;
  background-color: transparent;
  border: 2px solid transparent;
}

.none-2Eo-qx:hover::-webkit-scrollbar-thumb, .none-2Eo-qx:hover::-webkit-scrollbar-track {
  visibility: visible;
}

.none-2Eo-qx::-webkit-scrollbar-thumb, .none-2Eo-qx::-webkit-scrollbar-track {
  visibility: hidden;
}

/* Hide Mute Channel in toolbar */
.toolbar-1t6TWx > [channel="[object Object]"] {
    display: none;
}

.topic-TCb_qw {
  white-space: initial;
  line-height: 18px;
  max-height:36px;
}

.wrapper-2aW0bm > div > .button-1ZiXG9 {
    font-weight: bold;
    font-size: larger;
    padding: 0px !important;
    margin-top: -.3rem !important;
}
.wrapper-2aW0bm > div > .button-1ZiXG9:after {
    content: "@"
}

.wrapper-2aW0bm > div > .button-1ZiXG9 > svg {
  display: none !important;
}

.powercord-spotify .spotify-seek-bar-progress {
    background-image: linear-gradient(to right, rgb(101, 214, 66), rgb(224, 195, 66), rgb(241, 45, 45));
}

.tutorialContainer-SGrQ1h ~ .listItem-2P_4kh {
  display: none;
}

.flexChild-faoVW3 > div:nth-of-type(2) > .selectable-2GY4I1 {
  filter: blur(5px);
  transition: filter 0.5s;
}

.flexChild-faoVW3 > div:nth-of-type(2) > .selectable-2GY4I1:hover {
  filter: blur(0px);
}


/* compact settings */
/* - small dividers - */
.marginBottom20-32qID7 {
    margin-bottom: 5px;
}
.dividerDefault-3rvLe- {
    margin-top: 5px;
}
/* - large dividers - */
.marginBottom40-2vIwTv {
    margin-bottom: 10px;
}
.marginTop40-i-78cZ {
    margin-top: 10px;
}
/* - compact games list - */
.game-1ipmAa {
    position: relative;
    padding: 5px 0;
}
/* - compact notification settings - */
.notificationsSound-27jFSh {
    padding-top: 5px;
    padding-bottom: 5px;
}
/* - compact account settings - */
.marginTop60-3PGbtK {
    margin-top: 20px;
}
/* - compact billing list - */
.summaryInfo-2QFKUg {
    cursor: pointer;
    padding: 5px;
}
/* - compact billing tab - */
.codeRedemptionRedirect-1wVR4b {
    margin-top: 5px;
}
.paymentHistory-2FXzro {
    margin-top: 10px;
}

/* - monogenize chat box - */
.channelTextArea-rNsIhG {
    margin-bottom: 0px;
}
.form-2fGMdU {
    padding-left: 0px;
    padding-right: 0px;
}
.scrollableContainer-2NUZem {
    border-radius: 0px;
}
.attachButton-2WznTc {
    height: 53px;
    padding: 10px 16px;
    top: 0;
}
.fontSize16Padding-3Wk7zP {
    padding-bottom: 0px;
    padding-top: 15px;
}
.buttons-3JBrkn {
    height: 53px;   
}
.emojiButton-3uL3Aw {
    max-height: 53px;
}

/* remove nitro button */
#private-channels-2 {
    display: none;
}
/* remove server notice */
.channelNotice-1-XFjC {
    display: none;
}
/* remove mute and help button from header */
div[aria-label="Mute channel misc-support"], .toolbar-1t6TWx > .anchor-3Z-8Bb {
    display: none;
}

/* hide activity feed */
.nowPlayingColumn-2sl4cE {
    display: none;
}

/* need to fix typing indicator
.typing-2GQL18 .base-gE7OpD {
}*/

/*better quickswitcher*/
a[href='https://support.discord.com/hc/en-us/articles/115000070311'] {
    display: none;
}
/*  -- hide input box -- */
input[placeholder="Where would you like to go?"] {
    height: 0px !important;
}
#app-mount > div:nth-child(7) > div.modal-3c3bKg > div > div > div > div.scroller-zPkAnE.auto-Ge5KZx.scrollerBase-289Jih > div > div:nth-child(1) {
    display: none;
}
#app-mount > div:nth-child(7) > div.modal-3c3bKg > div > div > div > div.scroller-zPkAnE.auto-Ge5KZx.scrollerBase-289Jih > div > div:nth-child(2) > div > div {
    margin: auto;
}


div[class="scroller-zPkAnE auto-Ge5KZx scrollerBase-289Jih"] {
    max-height: 85vh;
}
#app-mount > div:nth-child(7) > div.modal-3c3bKg > div > div {
    height: auto;
}

/*fix mass ping popup*/
.everyonePopout-nEbJY3 {
    width: 390px;
}


/*fix powercord discord badge*/
.powercord-badge-cutie img[href="https://cdn.discordapp.com/emojis/694979272070266970.png"] {
    width: 0%;
    height: 0%;
    background-image: url("https://powercord.dev/dist/0c6744dac479b5509821.svg");
    padding: 50%;
}

/* disable bold text on game */
.activityText-OW8WYb > strong {
    font-weight: inherit;
}

/*increase live video height*/
.wrapper-2qzCYF.normal-1oavYI {
    height: 65%;
}

/* 2 column emoji list (removes Uploaded By) */
.emojiUploader-1f0pVx,
div[class*="flex-1xMQg5 flex-1O1GKY horizontal-1ae9ci horizontal-2EEEnY flex-1O1GKY directionRow-3v3tfG justifyStart-2NDFzi alignStretch-DpGPf3 noWrap-3jynv6 marginBottom4-2qk4Hy"] {
    display: none
}

.emojiRow-zIc7ZX {
    display: inline-flex;
    margin-right: 50px
}

/* compact context menus */
.menu-3sdvDG {
    background: rgba(0,0,0,.3);
    border-radius: 8px;
    box-shadow: none
}

.menu-3sdvDG:before {
    content: "";
  position: absolute;
    backdrop-filter: blur(50px) contrast(.8);
    height: 100%;
    width: 100%;
    border-radius: 8px;
}

.labelContainer-1BLJti {
    font-size: 14px;
    padding: 4px 8px;
    min-height: 18px;
    border-radius: 5px;
}

.colorDefault-2K3EoJ {
    color: #fff;
}

.colorDefault-2K3EoJ.focused-3afm-j {
    background: rgb(10,132,225);
}

.colorDefault-2K3EoJ:active:not(.hideInteraction-1iHO1O) {
    background: rgb(0,112,205);
}

.separator-2I32lJ {
    border-bottom: 1px solid rgba(255,255,255,.15);
}

.disabled-1WRMNA {
    opacity: .2;
}

.button-F9qN4n {
    background: none;
    backdrop-filter: brightness(1.3);
}

/* hide phone number */
.userSettingsSecurity-3IYeMF .flexChild-faoVW3 div:nth-child(3) .children-rWhLdy .colorStandard-2KCXvj:nth-child(2) {
  display: none;
}

.userSettingsSecurity-3IYeMF .flexChild-faoVW3 div:nth-child(3) .children-rWhLdy .flex-1xMQg5 button {
  margin-top: 10px;
}

/* restore old discord title bar */
/*
.toolbar-1t6TWx {
  padding-right: 120px;
}

.winButton-iRh8-Z {
    height: 52px;
    width: 42px;
  	stroke-width: 2px;
}

winButton-iRh8-Z > svg {
    height: 52px;
    width: 42px;
  	stroke-width: 2px;
}

.typeWindows-1za-n7 {
    height: 0px;
    margin-top: 0px;
}*/


/* Minified member list */
:root {
   --hover-animation-speed: 0.35s;
   --seperator-color: var(--background-accent);
}

.membersWrap-2h-GB4 {
   min-width: unset;
   width: 50px;
   justify-content: right;
}

.members-1998pB {
   transition: transform var(--hover-animation-speed);
}

.membersWrap-2h-GB4:hover .members-1998pB {
   transform: translateX(-190px);
}

.membersWrap-2h-GB4 .membersGroup-v9BXpm::after {
   content: '';
   width: 30px;
   height: 2px;
   border-radius: 50px;
   background: unset;
   background-color: var(--seperator-color);
   position: absolute;
   left: -36px;
   top: 29px;
   margin-left: 0px;
}

.membersWrap-2h-GB4 .members-1998pB .member-3-YXUe {
   background-color: unset;
   margin-left: 0px;
   transition: margin-left var(--hover-animation-speed);
}

.membersWrap-2h-GB4:hover .members-1998pB .member-3-YXUe {
   margin-left: 8px;
}

.membersWrap-2h-GB4:hover .membersGroup-v9BXpm {
   transform: translateX(-6px);
}

.membersWrap-2h-GB4 .membersGroup-v9BXpm {
   cursor: default;
   transform: translateX(45px);
   transition: transform var(--hover-animation-speed);
   overflow: visible;
}

/* make update button not green */
.updateIconForeground-3tnNZn {fill: var(--interactive-normal)}
.updateIconForeground-3tnNZn:hover {fill: var(--interactive-hover)}
.updateIconForeground-3tnNZn:active {fill: var(--interactive-active)}

/* clean status menu */
#status-picker .separator-2I32lJ, #status-picker .description-2L932D {
  display: none;
}
#status-picker .focused-3afm-j {
  background: linear-gradient(45deg, #2b45a2, #7289da);
}
#status-picker .focused-3afm-j#status-picker-online {
  background: linear-gradient(45deg, #21583f, #43b581);
}
#status-picker .focused-3afm-j#status-picker-idle {
  background: linear-gradient(45deg, #915c03, #faa61a);
}
#status-picker .focused-3afm-j#status-picker-dnd {
  background: linear-gradient(45deg, #aa0e0e, #f04747);
}
#status-picker .focused-3afm-j#status-picker-invisible {
  background: linear-gradient(45deg, #3a4047, #747f8d);
}

/* no chat header */
.hasDivider-20M1le {
    display: none;
}

.container-3zqIcM {
    display: none;
}

/* hide disabled buttons in user popout */
.userPopout-3XzG_A .disabledButtonWrapper-3wH6-b {
    display: none;
}

/* show all activies on hover */
.userPopout-3XzG_A .activityUserPopout-2yItg2 .allactivities-left, .userPopout-3XzG_A .activityUserPopout-2yItg2 .allactivities-right {
     margin-right: 0;
     margin-left: 0;
     max-width: 0;
     opacity: 0;
     pointer-events: none;
     transition: all 0.5s ease-in-out;
}
 .userPopout-3XzG_A .activityUserPopout-2yItg2:hover .allactivities-left, .userPopout-3XzG_A .activityUserPopout-2yItg2:hover .allactivities-right {
     max-width: 32px;
     opacity: 1;
     pointer-events: all;
}
 .userPopout-3XzG_A .activityUserPopout-2yItg2:hover .allactivities-left {
     margin-right: 8px;
}
 .userPopout-3XzG_A .activityUserPopout-2yItg2:hover .allactivities-right {
     margin-left: 8px;
}

/* hide user options when not hovering */ 
.panels-j1Uci_ > * > .flex-1O1GKY {
    display: none !important;
}
.container-3baos1:hover > .flex-1O1GKY {
    display: flex !important;
}

/* compact discord language settings */
.item-3eFBNF {
    padding: 8px;
}
.item-3eFBNF > .powercord-text {
    display: none !important;
}

/* small experiments menu, might break shit */
.marginTop20-3TxNs6 {
    margin-top: 8px;
}