.wrapper-3EGhDO {
    background-color: var(--background-secondary);
    border-radius: 25px;
    padding: 0px;
}

.colorable-1bkp8v.white-3GPOIp, .colorable-1bkp8v.white-3GPOIp .centerIcon-2G6o-T {
    color: currentColor;
}

.colorable-1bkp8v.primary-3NQg8g,
.colorable-1bkp8v.primary-3NQg8g.active-1QRrIS, .colorable-1bkp8v.primary-3NQg8g:hover, 
.colorable-1bkp8v.white-3GPOIp,
.centerButton-3CaNcJ,
.colorable-1bkp8v.white-3GPOIp.active-1QRrIS, .colorable-1bkp8v.white-3GPOIp:hover,
.colorable-1bkp8v.red-33-Lnk {
    background: none !important;
}

div[class="flex-1xMQg5 flex-1O1GKY horizontal-1ae9ci horizontal-2EEEnY flex-1O1GKY directionRow-3v3tfG justifyCenter-3D2jYp alignCenter-1dQNNs noWrap-3jynv6"][style="flex: 1 1 auto;"]{
  background-color: var(--background-secondary);
  border-radius: 30px;
}

.userPopout-3XzG_A {
    border-radius: 10px;
    box-shadow: var(--elevation-high);
    border: none;
    background: none;
    backdrop-filter: blur(10px);
}
.theme-dark .body-3iLsc4, .theme-dark .footer-1fjuF6 {
    background: #00000066;
}
.headerPlaying-j0WQBV {
    background: #7289daa8;
}
.headerStreaming-2FjmGz {
    background: #593695a8;
}
.theme-dark .headerNormal-T_seeN {
    background: #000000a8;
}
.headerSpotify-zpWxgT {
    background: #1db954a8;
}
.textarea-2r0oV8:focus {
    background: #0000008b;
    border-radius: 5px;
}
.input-cIJ7To {
    background: #00000044;
    border: none;
    border-radius: 5px;
    transition: ease-in-out 0.1s;
}
.input-cIJ7To:focus {
    background: #0000008b;
}
.buttonsWrapper-2eYbM0 .lookOutlined-3sRXeN.colorWhite-rEQuAQ {
    border: none;
    background: #1db954a8;
    border-radius: 5px;
}
.buttonsWrapper-2eYbM0 .lookOutlined-3sRXeN.colorWhite-rEQuAQ:hover {
    background: #1db954ff;
}
.customStatus-1bh2V9 img {
    border-radius: 3px;
}
.headerStreaming-2FjmGz .lookOutlined-3sRXeN.colorWhite-rEQuAQ {
    background: #593695a8;
}
.headerStreaming-2FjmGz .lookOutlined-3sRXeN.colorWhite-rEQuAQ:hover {
    background: #593695ff;
}
.headerPlaying-j0WQBV .lookOutlined-3sRXeN.colorWhite-rEQuAQ {
    background: #7289daa8;
}
.headerPlaying-j0WQBV .lookOutlined-3sRXeN.colorWhite-rEQuAQ:hover {
    background: #7289daff;
}

.backdrop-1wrmKB {
    background: none !important;
    backdrop-filter: blur(10px) brightness(0.5);
    opacity: 1 !important;
}

/* animation on channel list */


* {
/*    opacity:1;*/
    animation: mykey 0.5s forwards !important;
} 
@keyframes mykey{
    0% { opacity: 0 !important;}
    100% {
        opacity: inherit !important;
    }
}

/* */
div[id="message-actions"] {
  min-width: 0px;
  width: 57px;
  transition: 1s;
}
div[id="message-actions"]:hover {
  min-width: 0px;
  width: 200px;
  transition: 0.5s;
}

.protip-YaFfgO {
    display: none;
}

/* .titleChecked-2wg0pd{
    visibility: hidden;
}
.titleChecked-2wg0pd::before {
  visibility: visible;
    content: "I live on the edge";
} */

/* user popout - credit to : https://github.com/A-User-s-Discord-Themes/Couve*/
/*role pills*/
.role-2irmRk{
    position: relative;
    overflow: hidden;
    z-index: 1;
    border: none;
    padding: 5px;
}
.roleCircle-3xAZ1j::before{
    content: "";
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    background: inherit;
    opacity: .2;
    z-index: -1;
    pointer-events: none;
}
/*Bottom*/
.footer-1fjuF6{
    border-top: none;
}

:root .headerStreaming-2FjmGz{
    background: #593695;
}

.emojiItemDisabled-1FvFuF:hover{
    filter: grayscale(0);
}

.userPopout-3XzG_A{
  width: 450px;
}

.none-2Eo-qx::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.none-2Eo-qx::-webkit-scrollbar-corner {
  background-color: transparent;
}

.none-2Eo-qx::-webkit-scrollbar-thumb {
  background-clip: padding-box;
  border: 2px solid transparent;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.1);
}

.none-2Eo-qx::-webkit-scrollbar-track {
  border-color: transparent;
  background-color: transparent;
  border: 2px solid transparent;
}

.none-2Eo-qx:hover::-webkit-scrollbar-thumb, .none-2Eo-qx:hover::-webkit-scrollbar-track {
  visibility: visible;
}

.none-2Eo-qx::-webkit-scrollbar-thumb, .none-2Eo-qx::-webkit-scrollbar-track {
  visibility: hidden;
}

/* Hide Mute Channel in toolbar */
.toolbar-1t6TWx > [channel="[object Object]"] {
    display: none;
}

.topic-TCb_qw {
  white-space: initial;
  line-height: 18px;
  max-height:36px;
}

.wrapper-2aW0bm > div > .button-1ZiXG9 {
    font-weight: bold;
    font-size: larger;
    padding: 0px !important;
    margin-top: -.3rem !important;
}
.wrapper-2aW0bm > div > .button-1ZiXG9:after {
    content: "@"
}

.wrapper-2aW0bm > div > .button-1ZiXG9 > svg {
  display: none !important;
}

.powercord-spotify .spotify-seek-bar-progress {
    background-image: linear-gradient(to right, rgb(101, 214, 66), rgb(224, 195, 66), rgb(241, 45, 45));
}

.tutorialContainer-SGrQ1h ~ .listItem-2P_4kh {
  display: none;
}

.flexChild-faoVW3 > div:nth-of-type(2) > .selectable-2GY4I1 {
  filter: blur(5px);
  transition: filter 0.5s;
}

.flexChild-faoVW3 > div:nth-of-type(2) > .selectable-2GY4I1:hover {
  filter: blur(0px);
}


/* compact settings */
/* - small dividers - */
.marginBottom20-32qID7 {
    margin-bottom: 5px;
}
.dividerDefault-3rvLe- {
    margin-top: 5px;
}
/* - large dividers - */
.marginBottom40-2vIwTv {
    margin-bottom: 10px;
}
.marginTop40-i-78cZ {
    margin-top: 10px;
}
/* - compact games list - */
.game-1ipmAa {
    position: relative;
    padding: 5px 0;
}
/* - compact notification settings - */
.notificationsSound-27jFSh {
    padding-top: 5px;
    padding-bottom: 5px;
}
/* - compact account settings - */
.marginTop60-3PGbtK {
    margin-top: 20px;
}
/* - compact billing list - */
.summaryInfo-2QFKUg {
    cursor: pointer;
    padding: 5px;
}
/* - compact billing tab - */
.codeRedemptionRedirect-1wVR4b {
    margin-top: 5px;
}
.paymentHistory-2FXzro {
    margin-top: 10px;
}

/* - monogenize chat box - */
.channelTextArea-rNsIhG {
    margin-bottom: 0px;
}
.form-2fGMdU {
    padding-left: 0px;
    padding-right: 0px;
}
.scrollableContainer-2NUZem {
    border-radius: 0px;
}
.attachButton-2WznTc {
    height: 53px;
    padding: 10px 16px;
    top: 0;
}
.fontSize16Padding-3Wk7zP {
    padding-bottom: 0px;
    padding-top: 15px;
}
.buttons-3JBrkn {
    height: 53px;   
}
.emojiButton-3uL3Aw {
    max-height: 53px;
}

/* remove nitro button */
#private-channels-2 {
    display: none;
}
/* remove server notice */
.channelNotice-1-XFjC {
    display: none;
}
/* remove mute and help button from header */
div[aria-label="Mute channel misc-support"], .toolbar-1t6TWx > .anchor-3Z-8Bb {
    display: none;
}

/* hide activity feed */
.nowPlayingColumn-2sl4cE {
    display: none;
}

/* need to fix typing indicator
.typing-2GQL18 .base-gE7OpD {
}*/

/*better quickswitcher*/
a[href='https://support.discord.com/hc/en-us/articles/115000070311'] {
    display: none;
}
/*  -- hide input box -- */
input[placeholder="Where would you like to go?"] {
    height: 0px !important;
}
#app-mount > div:nth-child(7) > div.modal-3c3bKg > div > div > div > div.scroller-zPkAnE.auto-Ge5KZx.scrollerBase-289Jih > div > div:nth-child(1) {
    display: none;
}
#app-mount > div:nth-child(7) > div.modal-3c3bKg > div > div > div > div.scroller-zPkAnE.auto-Ge5KZx.scrollerBase-289Jih > div > div:nth-child(2) > div > div {
    margin: auto;
}


div[class="scroller-zPkAnE auto-Ge5KZx scrollerBase-289Jih"] {
    max-height: 85vh;
}
#app-mount > div:nth-child(7) > div.modal-3c3bKg > div > div {
    height: auto;
}

/*fix mass ping popup*/
.everyonePopout-nEbJY3 {
    width: 390px;
}


/*fix powercord discord badge*/
.powercord-badge-cutie img[href="https://cdn.discordapp.com/emojis/694979272070266970.png"] {
    width: 0%;
    height: 0%;
    background-image: url("https://powercord.dev/dist/0c6744dac479b5509821.svg");
    padding: 50%;
}

/* disable bold text on game */
.activityText-OW8WYb > strong {
    font-weight: inherit;
}

/*increase live video height*/
.wrapper-2qzCYF.normal-1oavYI {
    height: 65%;
}

/* 2 column emoji list (removes Uploaded By) */
.emojiUploader-1f0pVx,
div[class*="flex-1xMQg5 flex-1O1GKY horizontal-1ae9ci horizontal-2EEEnY flex-1O1GKY directionRow-3v3tfG justifyStart-2NDFzi alignStretch-DpGPf3 noWrap-3jynv6 marginBottom4-2qk4Hy"] {
    display: none
}

.emojiRow-zIc7ZX {
    display: inline-flex;
    margin-right: 50px
}

/* compact context menus */
.menu-3sdvDG {
    background: rgba(0,0,0,.3);
    border-radius: 8px;
    box-shadow: none
}

.menu-3sdvDG:before {
    content: "";
  position: absolute;
    backdrop-filter: blur(50px) contrast(.8);
    height: 100%;
    width: 100%;
    border-radius: 8px;
}

.labelContainer-1BLJti {
    font-size: 14px;
    padding: 4px 8px;
    min-height: 18px;
    border-radius: 5px;
}

.colorDefault-2K3EoJ {
    color: #fff;
}

.colorDefault-2K3EoJ.focused-3afm-j {
    background: rgb(10,132,225);
}

.colorDefault-2K3EoJ:active:not(.hideInteraction-1iHO1O) {
    background: rgb(0,112,205);
}

.separator-2I32lJ {
    border-bottom: 1px solid rgba(255,255,255,.15);
}

.disabled-1WRMNA {
    opacity: .2;
}

.button-F9qN4n {
    background: none;
    backdrop-filter: brightness(1.3);
}

/* hide phone number */
.userSettingsSecurity-3IYeMF .flexChild-faoVW3 div:nth-child(3) .children-rWhLdy .colorStandard-2KCXvj:nth-child(2) {
  display: none;
}

.userSettingsSecurity-3IYeMF .flexChild-faoVW3 div:nth-child(3) .children-rWhLdy .flex-1xMQg5 button {
  margin-top: 10px;
}

/* restore old discord title bar */
/*
.toolbar-1t6TWx {
  padding-right: 120px;
}

.winButton-iRh8-Z {
    height: 52px;
    width: 42px;
  	stroke-width: 2px;
}

winButton-iRh8-Z > svg {
    height: 52px;
    width: 42px;
  	stroke-width: 2px;
}

.typeWindows-1za-n7 {
    height: 0px;
    margin-top: 0px;
}*/


/* Minified member list */
:root {
   --hover-animation-speed: 0.35s;
   --seperator-color: var(--background-accent);
}

.membersWrap-2h-GB4 {
   min-width: unset;
   width: 50px;
   justify-content: right;
}

.members-1998pB {
   transition: transform var(--hover-animation-speed);
   width: 300px;
}

.membersWrap-2h-GB4:hover .members-1998pB {
   transform: translateX(-250px); /* 190 */
}
.member-3-YXUe {
    max-width: 300px;
}

.membersWrap-2h-GB4 .membersGroup-v9BXpm::after {
   content: '';
   width: 30px;
   height: 2px;
   border-radius: 50px;
   background: unset;
   background-color: var(--seperator-color);
   position: absolute;
   left: -36px;
   top: 12px;
   margin-left: 0px;
}

.membersWrap-2h-GB4 .members-1998pB .member-3-YXUe {
   background-color: unset;
   margin-left: 0px;
   transition: margin-left var(--hover-animation-speed);
}

.membersWrap-2h-GB4:hover .members-1998pB .member-3-YXUe {
   margin-left: 8px;
}

.membersWrap-2h-GB4:hover .membersGroup-v9BXpm {
   transform: translateX(-6px);
}

.membersWrap-2h-GB4 .membersGroup-v9BXpm {
   cursor: default;
   transform: translateX(45px);
   transition: transform var(--hover-animation-speed);
   overflow: visible;
}

/* make update button not green */
.updateIconForeground-3tnNZn {fill: var(--interactive-normal)}
.updateIconForeground-3tnNZn:hover {fill: var(--interactive-hover)}
.updateIconForeground-3tnNZn:active {fill: var(--interactive-active)}

/* clean status menu */
#status-picker .separator-2I32lJ, #status-picker .description-2L932D {
  display: none;
}
#status-picker .focused-3afm-j {
  background: linear-gradient(45deg, #2b45a2, #7289da);
}
#status-picker .focused-3afm-j#status-picker-online {
  background: linear-gradient(45deg, #21583f, #43b581);
}
#status-picker .focused-3afm-j#status-picker-idle {
  background: linear-gradient(45deg, #915c03, #faa61a);
}
#status-picker .focused-3afm-j#status-picker-dnd {
  background: linear-gradient(45deg, #aa0e0e, #f04747);
}
#status-picker .focused-3afm-j#status-picker-invisible {
  background: linear-gradient(45deg, #3a4047, #747f8d);
}

/* no chat header */
.hasDivider-20M1le {
    display: none;
}

.container-3zqIcM {
    display: none;
}

/* hide disabled buttons in user popout */
.userPopout-3XzG_A .disabledButtonWrapper-3wH6-b {
    display: none;
}

/* show all activies on hover */
.userPopout-3XzG_A .activityUserPopout-2yItg2 .allactivities-left, .userPopout-3XzG_A .activityUserPopout-2yItg2 .allactivities-right {
     margin-right: 0;
     margin-left: 0;
     max-width: 0;
     opacity: 0;
     pointer-events: none;
     transition: all 0.5s ease-in-out;
}
 .userPopout-3XzG_A .activityUserPopout-2yItg2:hover .allactivities-left, .userPopout-3XzG_A .activityUserPopout-2yItg2:hover .allactivities-right {
     max-width: 32px;
     opacity: 1;
     pointer-events: all;
}
 .userPopout-3XzG_A .activityUserPopout-2yItg2:hover .allactivities-left {
     margin-right: 8px;
}
 .userPopout-3XzG_A .activityUserPopout-2yItg2:hover .allactivities-right {
     margin-left: 8px;
}

/* hide user options when not hovering */ 
.panels-j1Uci_ > * > .flex-1O1GKY {
    display: none !important;
}
.container-3baos1:hover > .flex-1O1GKY {
    display: flex !important;
}

/* compact discord language settings */
.item-3eFBNF {
    padding: 8px;
}
.item-3eFBNF > .powercord-text {
    display: none !important;
}

/* small experiments menu, might break shit */
.marginTop20-3TxNs6 {
    margin-top: 8px;
}

/* compact server settings */ 
.divider-3wNib3 {
    margin-top: 4px;
    padding-top: 4px;
}
.switchItem-2hKKKK {
    margin-bottom: 4px;
}

/* compact emoji settings */
.emojiRow-zIc7ZX {
    position: relative;
    height: 48px;
}
/* compact integrations */ 
.card-o7rAq- {
    padding: 5px 16px;
    margin-bottom: 4px;
}
/*fix typing indicator*/
.typing-2GQL18 {
    bottom: 55px;
}

/*fix emoji suggestions not being scrollable*/
.autocompleteInner-zh20B_ {
    overflow-y: auto;
    max-height: 75vh;
}

/*compacter chat*/
.compact-T3H92H.wrapper-2a6GCs, .cozy-3raOZG.wrapper-2a6GCs {
    padding-top: 0px;
    padding-bottom: 0px;
}
.group-spacing-16 .groupStart-23k01U {
    margin-top: 8px;
}
.group-spacing-16 .divider-3_HH5L.beforeGroup-1rH1F0 {
    top: .2rem;
}
.searchBar-3dMhjb {
    width: 75px;
}
.focused-31_ccS .searchBar-3dMhjb, .open-6_Y_aH .searchBar-3dMhjb {
    width: fit-content;
}

/* compact channels */
.containerDefault-3GGEv_, .containerDragAfter-3TEhpe, .containerDragBefore-3Dzc5x, .containerUserOver-1Tcb7l {
    padding-top: 0px;
}
#channels > div {
    height: fit-content;
}

/* loading screen changes */
.tip-2cgoli {
    line-height: 16px;
}
.container-16j22k video {
    visibility: visible;
}
.platform-win .container-16j22k {
    opacity: 0 !important;
}

/* hide gift button */
button[aria-label="Send a gift"] {
    display: none;
}

/* compact memberlist */
.membersGroup-v9BXpm {
    padding-top: 8px;
}


/* extra details */

/**
 * Snippet from #css-snippets applied the Oct 11, 2020 at 1:50:58 AM
 * Created by or#6666 (651954313668722693)
 * Snippet ID: 763026947772645386
 */
 .header-QKLPzZ rect[mask="url(#svg-mask-status-online)"], .userPopout-3XzG_A rect[mask="url(#svg-mask-status-online)"] {
    fill: #43b581;
}

.wrapper-3t9DeA rect[mask="url(#svg-mask-status-idle)"] {
    fill: #faa61a;
    mask: url(#svg-mask-status-online);
}

.wrapper-3t9DeA rect[mask="url(#svg-mask-status-dnd)"] {
    fill: #f04747;
    mask: url(#svg-mask-status-online);
}

.wrapper-3t9DeA rect[mask="url(#svg-mask-status-streaming)"]{
    mask: url(#svg-mask-status-online);
}

.wrapper-3t9DeA rect[mask="url(#svg-mask-status-offline)"] {
    mask: url(#svg-mask-status-online);
}
/** 763026947772645386 */

/**
 * Snippet from #css-snippets applied the Oct 11, 2020 at 1:53:06 AM
 * Created by botato#6883 (440990343899643943)
 * Snippet ID: 764468913953701892
 */
svg.slider-TkfMQL svg {
  display: none;
}

.container-3auIfb:not([style*="125"]) {
  background-color: #7289da !important;
}
/** 764468913953701892 */

/**
 * Snippet from #css-snippets applied the Oct 11, 2020 at 10:21:34 PM
 * Created by LuckFire#4800 (399416615742996480)
 * Snippet ID: 764911805150789642
 */
.tooltip-2QfLtc {
   background-color: rgba(95, 118, 202, 0.5) !important;
   backdrop-filter: blur(1.5px);
   text-shadow: #000 1px 0 5px;
}
.tooltipPointer-3ZfirK {
   border-top-color: rgba(95, 118, 202, 0.5) !important;
}
.tooltipContent-bqVLWK > .colorMuted-HdFt4q {
   color: #F04747;
}
.tooltipContent-bqVLWK > .row-2OVM4t > svg > path {
   fill: #43B581;
}
/** 764911805150789642 */
/* see raw messages */

div[class*=contents] code.inline::before{
    content: "`";
    font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
    text-rendering: optimizeLegibility;
    background: transparent;
    color: grey;
  }
  div[class*=contents] code.inline::after{
    content: "`";
    font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
    text-rendering: optimizeLegibility;
    background: transparent;
    color: grey;
  }
  div[class*=contents] div[class*=blockquoteContainer]::before{
    content: "> ";
    color: grey;
    font-style: normal;
    font-weight: normal;
  }
  div[class*=contents] strong::before{
    content: "**";
    color: grey;
    font-style: normal;
    font-weight: normal;
  }
  div[class*=contents] strong::after{
    content: "**";
    color: grey;
    font-style: normal;
    font-weight: normal;
  }
  div[class*=contents] em::before{
    content: "*";
    color: grey;
    font-style: normal;
    font-weight: normal;
  }
  div[class*=contents] em::after{
    content: "*";
    color: grey;
    font-style: normal;
    font-weight: normal;
  }
  div[class*=contents] u::before{
    content: "__";
    color: grey;
    font-style: normal;
    font-weight: normal;
  }
  div[class*=contents] u::after{
    content: "__";
    color: grey;
    font-style: normal;
    font-weight: normal;
  }
  div[class*=contents] pre::before{
    content: "`‌``";
    color: grey;
    font-style: normal;
    font-weight: normal;
  }
  div[class*=contents] pre::after{
    content: "`‌``";
    color: grey;
    font-style: normal;
    font-weight: normal;
  }

/* end see raw messages */

/* more snippets */

/**
 * Snippet from #css-snippets applied the Oct 19, 2020 at 10:02:11 AM
 * Created by ezist#7571 (632082248954282014)
 * Snippet ID: 766361519453110282
 */
 .profile-1eT9hT + .fieldList-21DyL8 > .field-1HUseB:not(:first-child) .colorHeaderPrimary-26Jzh- {
    filter: blur(5px);
    transition: filter 0.5s
}
.profile-1eT9hT + .fieldList-21DyL8 > .field-1HUseB:not(:first-child):hover .colorHeaderPrimary-26Jzh- {
    filter: blur(0px);
}
/** 766361519453110282 */

/**
 * Snippet from #css-snippets applied the Oct 19, 2020 at 10:02:28 AM
 * Created by ezist#7571 (632082248954282014)
 * Snippet ID: 766363580374319114
 */
.profile-1eT9hT .details-2fkb7l .colorHeaderSecondary-3Sp3Ft {
    filter: blur(5px);
    transition: filter 0.5s;
}
.profile-1eT9hT .details-2fkb7l .colorHeaderSecondary-3Sp3Ft:hover {filter: blur(0px);}
.profile-1eT9hT + .fieldList-21DyL8 > .field-1HUseB:first-child .colorHeaderSecondary-3Sp3Ft {
    filter: blur(5px);
    transition: filter 0.5s;
}
.profile-1eT9hT + .fieldList-21DyL8 > .field-1HUseB:first-child:hover .colorHeaderSecondary-3Sp3Ft {filter: blur(0px);}
/** 766363580374319114 */

/**
 * Snippet from #css-snippets applied the Oct 19, 2020 at 10:02:31 AM
 * Created by ezist#7571 (632082248954282014)
 * Snippet ID: 766364753034739772
 */
.headerTag-2pZJzA > .username-2b1r56 + span {
    filter: blur(5px);
    transition: filter 0.5s;
}
.headerTag-2pZJzA > .username-2b1r56 + span:hover {filter: blur(0px);}
/** 766364753034739772 */

/**
 * Snippet from #css-snippets applied the Oct 19, 2020 at 10:02:47 AM
 * Created by creatable#0123 (597905003717459968)
 * Snippet ID: 766426597179785246
 */
div[role="img"][aria-label*="Sticker"], img[alt*="Sticker"] {
  display: none;
}

.assetWrapper-3GNt0z {
    height: auto !important;
    width: auto !important;
}

.clickableSticker-3HmpgV::after {
  content: "A sticker was hidden.";
  color: gray;
  font-weight: 500;
}

#sticker-picker-tab {
    display: none;
}

button[aria-label="Open sticker picker"] {
    display: none;
}
/** 766426597179785246 */

/**
 * Snippet from #css-snippets applied the Oct 19, 2020 at 10:02:58 AM
 * Created by Tropical#4355 (254362351170617345)
 * Snippet ID: 766438640313958470
 */
.wrapper-2a6GCs .assetWrapper-3GNt0z[style] {
    height:auto !important;
    width:auto !important;
}

.wrapper-2a6GCs .assetWrapper-3GNt0z[style]:active {
    height:160px !important;
    width:160px !important;
}

.wrapper-2a6GCs .assetWrapper-3GNt0z[style]:after {
    content:'1 blocked sticker - Show Sticker';
    color:var(--text-link);
}

.wrapper-2a6GCs .assetWrapper-3GNt0z[style]:active:after {
    content:none;
}

.wrapper-2a6GCs .assetWrapper-3GNt0z[style]:hover:after {
    text-decoration:underline;
}

.wrapper-2a6GCs .assetWrapper-3GNt0z[style] .lottieCanvas-1W7L-f,
.wrapper-2a6GCs .assetWrapper-3GNt0z[style] .pngImage-33yLRP {
    display:none;
}

.wrapper-2a6GCs .assetWrapper-3GNt0z[style]:active .lottieCanvas-1W7L-f,
.wrapper-2a6GCs .assetWrapper-3GNt0z[style]:active .pngImage-33yLRP {
    display:block;
}
/** 766438640313958470 */

/**
 * Snippet from #css-snippets applied the Oct 19, 2020 at 10:03:17 AM
 * Created by Ein#3092 (307356893053976576)
 * Snippet ID: 766517832640233502
 */
/** Blurple discord join/explore buttons**/
.circleIconButton-jET_ig svg path{
  fill: #7289da;
}
.circleIconButton-jET_ig.selected-ugP_am{
  background-color: #7289da;
}
.circleIconButton-jET_ig.selected-ugP_am svg path{
  fill: white;
}
/** 766517832640233502 */

/**
 * Snippet from #css-snippets applied the Oct 19, 2020 at 10:03:43 AM
 * Created by Bowser65#0001 (94762492923748352)
 * Snippet ID: 767078348731056158
 */
/* Show Discord, even when you're offline */
.container-16j22k {
  background: transparent;
  pointer-events: none;
}
.container-16j22k * {
  display: none;
}
.container-16j22k::before {
  content: 'You\'ve gone offline';
  display: block;
  bottom: 24px;
  right: 24px;
  position: absolute;
  padding: 8px 16px;
  background-color: #f04747;
  border-radius: 4px;
  color: #fff;
}
/** 767078348731056158 */

/**
 * Snippet from #css-snippets applied the Oct 19, 2020 at 10:03:55 AM
 * Created by ロビガン#1634 (315526915828219906)
 * Snippet ID: 767644968592080906
 */
/* Updated version of the Hide Nitro Gift and GIF buttons with support for Stickers button */
.button-38aScr.lookBlank-3eh9lL.colorBrand-3pXr91.grow-q77ONN.noFocus-2C7BQj .button-3AYNKb.button-318s1X {display: none;}
/** 767644968592080906 */

/**
 * Snippet from #css-snippets applied the Nov 21, 2020 at 5:03:38 PM
 * Created by LuckFire#4800 (399416615742996480)
 * Snippet ID: 769995148213223444
 */
.minimum-28Z35l > .root-217Brm,
.video--KPXCT > .root-217Brm {
   background: url("https://cdn.discordapp.com/attachments/738968109288914976/769986893944979496/image0.jpg") center/100% no-repeat;
}
.minimum-28Z35l > .root-217Brm::before,
.video--KPXCT > .root-217Brm::before {
   content: "";
   position: absolute;
   height: 100%;
   width: 100%;
   background: rgb(0, 0, 0, 0.65);
   backdrop-filter: blur(3px);
}
.videoControls-24w7Xp > .topControls-KKImPZ > div > .headerWrapper-3NUKsd > .title-3qD0b-,
.videoControls-24w7Xp > .topControls-KKImPZ > div > .headerWrapper-3NUKsd > .transparent-2ZlE3R  {
   box-shadow: none !important;
}
/** 769995148213223444 */

/**
 * Snippet from #css-snippets applied the Nov 21, 2020 at 5:06:02 PM
 * Created by botato#6883 (440990343899643943)
 * Snippet ID: 775167473422958622
 */
.topic-TCb_qw .wrapper-3o7UcG {
  display: none;
}
/** 775167473422958622 */

/**
 * Snippet from #css-snippets applied the Nov 21, 2020 at 5:07:35 PM
 * Created by Tropical#4355 (254362351170617345)
 * Snippet ID: 776283983864004638
 */
.peopleColumn-29fq28 .peopleList-3c4jOR,
.peopleColumn-29fq28 div[role="list"] {
    height:100%;
}
/** 776283983864004638 */

/**
 * Snippet from #css-snippets applied the Nov 21, 2020 at 5:08:10 PM
 * Created by Creation's#0001 (209830981060788225)
 * Snippet ID: 777246112184270849
 */
.userInfoSectionHeader-CBvMDh,
.note-QfFU8y {
   display: none;
}

.infoScroller-3EYYns>.userInfoSection-2acyCx:first-of-type {
   margin-top: -45px;
}

.topSectionNormal-2-vo2m {
   z-index: 10;
}
/** 777246112184270849 */

/**
 * Snippet from #css-snippets applied the Nov 21, 2020 at 5:10:55 PM
 * Created by Winston#0441 (156990761366192128)
 * Snippet ID: 778797785456574474
 */
.item-26Dhrx {border-radius:5px;color:var(--interactive-active)!important;background:#0000!important}
.item-26Dhrx .title-3BE6m5 {font-weight:500}
.item-26Dhrx[aria-checked="false"] .title-3BE6m5 {color:var(--radio-bar-accent-color)}
.item-26Dhrx[aria-checked="true"] {color:#fff!important}
.theme-dark {--checkbox-fill:#72767d}
.theme-light {--checkbox-fill:#b9bbbe}
.radioBar-bMNUI- path {
    d: path("M3 0C1.34326 0 0 1.34277 0 3V21C0 22.6572 1.34326 24 3 24H21C22.6567 24 24 22.6572 24 21V3C24 1.34277 22.6567 0 21 0H3ZM3 1C1.89551 1 1 1.89551 1 3V21C1 22.1045 1.89551 23 3 23H21C22.1045 23 23 22.1045 23 21V3C23 1.89551 22.1045 1 21 1H3Z");
    fill: var(--checkbox-fill);
}
.item-26Dhrx[aria-checked="true"] .radioBar-bMNUI- path {
    d: path("M4 1C2.34326 1 1 2.34277 1 4V20C1 21.6572 2.34326 23 4 23H20C21.6567 23 23 21.6572 23 20V4C23 2.34277 21.6567 1 20 1H4ZM6.62231 12L9.74976 15.127L17.6924 7.19238L18.7498 8.25L9.74976 17.25L5.55737 13.0576L6.62231 12Z");
    fill: #fff
}
.radioBar-bMNUI- circle {display:none}
.radioBar-bMNUI- {border:solid 1px var(--background-tertiary);background:var(--deprecated-card-editable-bg)}
.radioBar-bMNUI- {--radio-bar-accent-color:#7289da}
[aria-checked="true"]>.radioBar-bMNUI- {background:var(--radio-bar-accent-color);border-color:var(--radio-bar-accent-color)}
[aria-checked="true"]>.radioBar-bMNUI- {--radio-bar-accent-color:#7289da}
[aria-checked="false"]>.radioBar-bMNUI- .size14-e6ZScH {color:var(--interactive-normal)}
[aria-checked="false"]>.radioBar-bMNUI-  {--radio-bar-accent-color:var(--interactive-active)}
/** 778797785456574474 */

/**
 * Snippet from #css-snippets applied the Nov 25, 2020 at 6:32:16 PM
 * Created by lav#5778 (441164156016787486)
 * Snippet ID: 780301892529422336
 */
/* Fix folder color picker */
.container-3sNMIc {
  flex-wrap: inherit
}
/** 780301892529422336 */

/**
 * Snippet from #css-snippets applied the Nov 25, 2020 at 6:33:35 PM
 * Created by Winston Sepruko#0441 (156990761366192128)
 * Snippet ID: 781046227369984020
 */
path[d="M33 34.5833V7.49998H35V36.6666H9C6.791 36.6666 5 34.801 5 32.5V7.49998C5 5.19894 6.791 3.33331 9 3.33331H31V30.4166H9C7.8955 30.4166 7 31.3485 7 32.5C7 33.6515 7.8955 34.5833 9 34.5833H33ZM23.9718 9.99998L15.8889 17.9915L12.7086 14.8441L10 17.5058L15.8885 23.3333L26.6667 12.6669L23.9718 9.99998Z"] {
    d:path('M5.88657 21C5.57547 21 5.3399 20.7189 5.39427 20.4126L6.00001 17H2.59511C2.28449 17 2.04905 16.7198 2.10259 16.4138L2.27759 15.4138C2.31946 15.1746 2.52722 15 2.77011 15H6.35001L7.41001 9H4.00511C3.69449 9 3.45905 8.71977 3.51259 8.41381L3.68759 7.41381C3.72946 7.17456 3.93722 7 4.18011 7H7.76001L8.39677 3.41262C8.43914 3.17391 8.64664 3 8.88907 3H9.87344C10.1845 3 10.4201 3.28107 10.3657 3.58738L9.76001 7H15.76L16.3968 3.41262C16.4391 3.17391 16.6466 3 16.8891 3H17.8734C18.1845 3 18.4201 3.28107 18.3657 3.58738L17.76 7H21.1649C21.4755 7 21.711 7.28023 21.6574 7.58619L21.4824 8.58619C21.4406 8.82544 21.2328 9 20.9899 9H17.41L16.35 15H19.7549C20.0655 15 20.301 15.2802 20.2474 15.5862L20.0724 16.5862C20.0306 16.8254 19.8228 17 19.5799 17H16L15.3632 20.5874C15.3209 20.8261 15.1134 21 14.8709 21H13.8866C13.5755 21 13.3399 20.7189 13.3943 20.4126L14 17H8.00001L7.36325 20.5874C7.32088 20.8261 7.11337 21 6.87094 21H5.88657ZM9.41045 9L8.35045 15H14.3504L15.4104 9H9.41045Z');
    transform: scale(1.66666667);
}
/** 781046227369984020 */

/**
 * Snippet from #css-snippets applied the Dec 9, 2020 at 8:58:04 AM
 * Created by Chromus#4761 (511758610720751626)
 * Snippet ID: 783073417301721101
 */
.newMessagesBar-265mhP {
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);
  border-radius: 50px;
  margin-top: 5px;
}
/** 783073417301721101 */

/**
 * Snippet from #css-snippets applied the Dec 9, 2020 at 8:58:11 AM
 * Created by Nyria#0001 (265924886461939712)
 * Snippet ID: 781978049570144257
 */
/* Badges */
.headerInfo-30uryT > .profileBadges-2vWUYb { display: flex; flex-wrap: wrap; }
.headerInfo-30uryT > .profileBadges-2vWUYb > .profileBadgeWrapper-1rGSsp { padding-bottom: 7px; }
/** 781978049570144257 */

/**
 * Snippet from #css-snippets applied the Dec 9, 2020 at 8:58:33 AM
 * Created by yatsukiko#0320 (87551046955597824)
 * Snippet ID: 783501185579089960
 */
.repliedMessage-VokQwo .username-1A8OIy{
  color: #7289da !important;
}
/** 783501185579089960 */

/**
 * Snippet from #css-snippets applied the Dec 9, 2020 at 8:59:33 AM
 * Created by MrTime#6969 (234464614996246529)
 * Snippet ID: 783729434351894558
 */
.jumpToPresentBar-G1R9s6 {
  background-color: rgba(0,0,0,0.2);
  backdrop-filter: blur(5px);
}
/** 783729434351894558 */

/**
 * Snippet from #css-snippets applied the Dec 9, 2020 at 9:04:32 AM
 * Created by Beef#3980 (257109471589957632)
 * Snippet ID: 783796515595747408
 */
/* fix a dumb discord moment with uncentered text*/
.uploadModalIn-1z07Bv .uploadDropModal-2kTwbc .inner-3nWsbo .title-2Vtl4y {
  text-align: center !important;
}
/** 783796515595747408 */

/**
 * Snippet from #css-snippets applied the Dec 9, 2020 at 9:05:01 AM
 * Created by Beef#3980 (257109471589957632)
 * Snippet ID: 784112416015122446
 */
/* Fix another Discord Moment with the quick react menu */
.button-F9qN4n[aria-label=":tm:"] .icon-QGKz8T {
  padding-top: 60%;
  padding-right: 2px;
  text-align: center !important;
  font-size: 36px !important;
}
/** 784112416015122446 */

/* Fix text in ping menu */

.autocompleteRowHeading-3WOd1z {
    font-weight: unset;
    font-size: unset;
}


/**
 * Snippet from #css-snippets applied the Jan 28, 2021 at 3:08:24 PM
 * Created by Beef#3980 (257109471589957632)
 * Snippet ID: 795671782773227552
 */
/* Sorry, but we couldn't find who asked to write this snippet */
.emptyResultsText-3mouZA {
    visibility: hidden;
    font-size: 0px;
  }
  .emptyResultsText-3mouZA:after {
    visibility: visible !important;
    content: "We searched far and wide. Unfortunately, we couldn't find the person who asked.";
    font-size: 16px;
    font-weight: 500;
  }
  /** 795671782773227552 */
  
  /**
   * Snippet from #css-snippets applied the Jan 28, 2021 at 3:08:29 PM
   * Created by Mr. Foxtrot#5220 (430507939070083072)
   * Snippet ID: 795698452100022373
   */
  /*Hide the original file size was too big text*/
  .uploadModalIn-1z07Bv .uploadDropModal-2kTwbc .inner-3nWsbo .title-2Vtl4y {
  font-size: 0px;
  }
  
  /*Replace the text with the first half "That was" but no bold*/
  .uploadModalIn-1z07Bv .uploadDropModal-2kTwbc .inner-3nWsbo .title-2Vtl4y:before {
  content: 'That was';
  font-size: 22px;
  font-weight: normal;
  }
  
  /*Add the second half with italics*/
  .uploadModalIn-1z07Bv .uploadDropModal-2kTwbc .inner-3nWsbo .title-2Vtl4y:after {
  content: ' fucking gay';
  font-size: 22px;
  font-style: italic;
  }
  
  /*Hide the original file size limit text, also make the width a little smaller*/
  .uploadModalIn-1z07Bv .uploadDropModal-2kTwbc .inner-3nWsbo .instructions-2Du9gG {
  font-size: 0px;
  width: 180px;
  }
  
  /*Replace the text with the funny*/
  .uploadModalIn-1z07Bv .uploadDropModal-2kTwbc .inner-3nWsbo .instructions-2Du9gG:after {
  content: "Don't ever post that bullshit again you fucking degenerate";
  font-size: 12px;
  }
  /** 795698452100022373 */
  
  /**
   * Snippet from #css-snippets applied the Jan 28, 2021 at 3:09:04 PM
   * Created by Gianology#9000 (491262066813042698)
   * Snippet ID: 796367986281152534
   */
  .iconWrapper-2OrFZ1[aria-label="Update Ready!"] {
    position: fixed;
    right: 2px;
    top: 80px;
    background: var(--background-tertiary);
    border-radius: 10px;
    width: 300px;
    height: 130px;
    border-right: 5px solid #43B581;
    transition: background 1s;
  }
  
  .iconWrapper-2OrFZ1[aria-label="Update Ready!"]::before {
    position: relative;
    display: block;
    content: "A discord update has been released.";
    font-weight: 700;
    top: 13px;
    text-align: center;
  }
  
  .iconWrapper-2OrFZ1[aria-label="Update Ready!"]::after {
    position: relative;
    display: block;
    content: "It is recommended to install it now to receive brand new features & patches.";
    top: 22px;
    text-align: center;
  }
  
  .iconWrapper-2OrFZ1[aria-label="Update Ready!"] > .icon-22AiRD {
    position: fixed;
    right: 148px;
    top: 173px;
  }
  /** 796367986281152534 */
  
  /**
   * Snippet from #css-snippets applied the Jan 28, 2021 at 3:11:37 PM
   * Created by Juby210#0577 (324622488644616195)
   * Snippet ID: 803907978226696213
   */
  .contentTitle-2tG_sM {
      color: var(--text-muted);
  }
  .autocompleteRowContentPrimary-238PvP .colorInteractiveActive-3Ip9Eu {
      font-weight: inherit;
      font-size: 100%;
  }
  .autocompleteRowContentSecondary-1tgI-F {
      font-size: 14px;
      line-height: 18px;
      color: var(--text-muted);
  }
  /** 803907978226696213 */
  
  /**
   * Snippet from #css-snippets applied the Jan 30, 2021 at 3:13:02 AM
   * Created by Nyria#3863 (265924886461939712)
   * Snippet ID: 804473088708182036
   */
  .image-1GzsFd[style*='background-image: url("/assets/8c998f8fb62016fcfb4901e424ff378b.svg")'] { background-image: url('https://i.ibb.co/jrwMmqF/Wumpus.png') !important}
  /** 804473088708182036 */


  /* fix code block width */ 
  .markup-2BOw-j blockquote, .markup-2BOw-j pre {
    max-width: 100%;
}